[class*="connectedSortable"] {
    border: 1px solid #eee;
    width: 45%;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
}
[class*="connectedSortable"] li {
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background: 0;
    border: 0;
}
.select_articles>ul {
    flex: 1;
}
.select_articles {
    display: flex;
}
.select_articles .title {
    padding: 0 70px;
    box-sizing: border-box;
}
.select_articles .inner {
    text-align: center;
    min-height: 50px;
    background: #e8e8e8;
    padding: 10px;
    background-position: center center;
    background-size: cover;
    position: relative;
}

span.article_width {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    font-size: 10px;
    display: none;
    width: 11px;
}

.article:hover span.article_width {
    display: block;
}

.select_articles ul.connectedSortable:not([id$="selected_articles"]) span.article_width.remove,
.select_articles ul.connectedSortable[id$="selected_articles"] span.article_width.select{
    display: none !important;
}

span.article_type.article_width {
    left: 0;
    right: auto;
}

span.article_width.edit {
    top: auto;
    bottom: 0;
    background: #0067bf;
    border-top-left-radius: 5px;
    padding: 2px;
}
span.article_width.remove,
span.article_width.select {
    top: 0;
    bottom: auto;
    padding: 2px;
    border: 0;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    background: #bf0000;
    border-radius: 0 0 0 5px;
}

span.article_width.select {
    background: #00bf18;
}

.select_articles .title {
    background: rgba(255, 255, 255, 0.77);
    font-size: 13px;
    display: inline-block;
    padding: 5px;
    color: #000;
    cursor: default;
}
.selected-articles-list.search .title:not(.forsearch),
.selected-articles-list:not(.search) .forsearch,
.selected-articles-list-selected .forsearch {
    display: none;
}
span.search-higlight {
    background: #9cccf5;
}

.article_width a{
    color: white !important;
}
.loadfromcahe {
    width: 100%;
}
.selected-articles-list.search button.loadfromcahe {
    display: none;
}